body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #243536;
  font-family: "Arial", sans-serif;
}

.container {
  text-align: center;
}

.hello {
  font-size: 80px;
  font-weight: bold;
  color: white;
  animation: slideIn 2s ease-in-out, fadeIn 1s ease-in-out forwards;
}

/* Анімація для руху */
@keyframes slideIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Анімація для появи */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
